POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PGADMIN_DEFAULT_EMAIL=pg@admin.com
PGADMIN_DEFAULT_PASSWORD=password
OPAL_POLICY_REPO_URL=https://github.com/ducthangchin/opal-example-policy-repo
APP_VERSION=1.0-SNAPSHOT

# For deployment with docker-compose (deployment.yml)
JWT_SECRET=g5s6/OY6Q29wW7R/+o6lylWJzxfAKN3esYB5UmT0pb0ERy1Zmv2Y3JvK3NfXehFvRKo7VtdafYLOtAfwovWQAA==
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=86400000